/* Global */
body {
    font-family: 'Roboto', sans-serif;
}

/* Home Page */
.language a {
    position: relative;
}
.language a::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 13px;
    background: rgb(138, 138, 138);
    top: 12%;
    right: -6px;
}
.language a.lang-active {
    color: #B6B6B6;
}
.language a:last-child::after {
    content: '';
    position: absolute;
    width: 0;
    height: 13px;
    background: rgb(138, 138, 138);
    top: 20%;
    right: 0;
}

.homepage-header-bg {
    background-image: url('../images/pngegg (20) 1.png');
}

.home-page-header-food-search-box {
    box-shadow: 0px 2px 30px rgba(186, 186, 186, 0.25);
}
.resturent-single-header-bg{
    background-image: url('../images/pngegg (18) 1.png');
}
@media only screen and (max-width: 768px) {
    .homepage-header-h-screen {
        height: 500px;
    }
}

.cities-grid-hover-letter {
    font-size: 180px;
    line-height: 145px;
}

.treat-section-bg {
    background-image: url('../images/cuisine-food-india-indian-wallpaper-preview.jpg');
}

.hover-border-b:hover {
    border-bottom: 2px solid #0084F6;
}

#toogleA:checked ~ .dot {
  transform: translateX(100%);
  background-color: #0084F6;
}

.rider-page-bg {
    background-image: url('../images/1-1500x1000\ 1.png');
}

.section-1-bg {
    background-image: url('../images/2-1500x1000\ 1.png');
}

.section-2-bg {
    background-image: url('../images/fodora06\ 2.png');
}

.start-job-page-bg{
    background-image: url('../images/fodora02\ 5.png');
}
.about-us-page-bg{
    background-image: url('../images/about-hero-bg.png');
}

.terms-and-condition-bg{
    background-image: url('../images/terms.png');
}
.privacy-policy-bg{
    background-image: url('../images/privacy.png');
}