/* Global */
body {
    font-family: 'Roboto', sans-serif;
}

/* Home Page */
.language a {
    position: relative;
}
.language a::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 13px;
    background: rgb(138, 138, 138);
    top: 12%;
    right: -6px;
}
.language a.lang-active {
    color: #B6B6B6;
}
.language a:last-child::after {
    content: '';
    position: absolute;
    width: 0;
    height: 13px;
    background: rgb(138, 138, 138);
    top: 20%;
    right: 0;
}

.homepage-header-bg {
    background-image: url('../images/header-right-bg.jpg');
}

.home-page-header-food-search-box {
    box-shadow: 0px 2px 30px rgba(186, 186, 186, 0.25);
}

.homepage-header-h-screen {
    height: 80vh;
}